#- name: Create needed directories
#  file:
#    path: "{{ remote_path }}/{{ monitoring_path }}/{{ item }}"
#    state: directory
#    owner: "{{ default_user }}"
#    group: "{{ default_group }}"
#  loop:
#    -
#    - loki
#    - prometheus
#    - promtail

- name: Deploy configs
  template:
    src: "{{ item.src }}"
    dest: "{{ remote_path }}/{{ monitoring_path }}/{{ item.dest }}"
    owner: "{{ default_user }}"
    group: "{{ default_group }}"
  loop:
#    - { src: loki/loki-config.yaml.j2, dest: loki/loki-config.yaml }
#    - { src: prometheus/prometheus.yml.j2, dest: prometheus/prometheus.yml }
    - { src: promtail/promtail-config.yaml.j2, dest: promtail/promtail-config.yaml }

- name: Ensure docker-compose.yml is present
  template:
    src: docker-compose.yml.j2
    dest: "{{ remote_path }}/{{ monitoring_path }}/docker-compose.yml"
    owner: "{{ default_user }}"
    group: "{{ default_group }}"
    mode: '0644'

- name: Start services
  community.docker.docker_compose_v2:
    recreate: always
    project_src: "{{ remote_path }}/{{ monitoring_path }}"
