- name: Create users
  user:
    name: "{{ item.name }}"
    create_home: yes
    password: "{{ item.password | password_hash('sha512') }}"
    shell: /bin/bash
    state: present
    groups: sudo
  loop: "{{ users }}"

- name: Add SSH public key for each user
  ansible.builtin.authorized_key:
    user: "{{ item.name }}"
    key: "{{ item.ssh_key_pub }}"
    state: present
  loop: "{{ users }}"
  when: item.ssh_key_pub is defined and item.ssh_key_pub | length > 0


- name: Configure SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: '^#?Port', line: 'Port 2002' }
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }

- name: Reboot machine
  reboot:
    msg: "Rebooting machine in 5 seconds"
