auth:
    username: {{ .Values.postgresql.auth.username }}
    password: {{ .Values.postgresql.auth.password }}
    database: {{ .Values.postgresql.auth.database }}
    postgresPassword: {{ .Values.postgresql.auth.postgresPassword }}
