# Устанавливаем CRD через helm чтобы не применять вручную через kubectl
crds:
  enabled: true

grafana:
  adminPassword: {{ .Values.grafana.adminPassword }}
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      # Автоматический выпуск TLS сертификата через cert-manager
      cert-manager.io/cluster-issuer: letsencrypt
    hosts:
      - grafana.bonavii.com
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.bonavii.com
