services:
  go-server-dev:
    image: ghcr.io/finfix/go-server-dev:latest
    ports:
      - "127.0.0.1:8081:8080"
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: "2"
    restart:
      unless-stopped
    networks:
      - internal
    environment:

      # POSTGRES
      PGSQL_HOST: pgsql-dev:5432
      PGSQL_USER: ${PGSQL_USER}
      PGSQL_PASSWORD: ${PGSQL_PASSWORD}
      PGSQL_DATABASE: ${PGSQL_DATABASE}

      # OPEN TELEMETRY
      OTLP_IS_ENABLED: false
      OTLP_HTTP_ENDPOINT: ""
      OTLP_INSECURE: false

      # SERVICE SETTINGS
      SERVICE_NAME: coin
      ENVIRONMENT: dev

      # LOGGING
      STACK_TRACE_ENABLED: true
      LOG_LEVEL: debug
      LOG_FORMAT: json

      # HTTP-ADDRESS
      LISTEN_HTTP: 0.0.0.0:8080

      # AUTH
      AUTH_REFRESH_TOKEN_TTL: 720h
      AUTH_TOKEN_SIGNING_KEY: ${AUTH_TOKEN_SIGNING_KEY}
      AUTH_ACCESS_TOKEN_TTL: 500h
      SHA_SALT: ${SHA_SALT}

      # TELEGRAM
      TG_BOT_ENABLED: false
      TG_BOT_TOKEN: ${TG_BOT_TOKEN}
      TG_CHAT_ID: ${TG_CHAT_ID}

      # OTHER API
      API_KEY_CURRENCY_PROVIDER: ${API_KEY_CURRENCY_PROVIDER}

      # PUSH NOTIFICATIONS
      NOTIFICATIONS_ENABLED: false
      NOTIFICATIONS_APNS_TEAM_ID: ${NOTIFICATIONS_APNS_TEAM_ID}
      NOTIFICATIONS_APNS_KEY_ID: ${NOTIFICATIONS_APNS_KEY_ID}
      NOTIFICATIONS_APNS_KEY_FILE_PATH: certs/APNsKey.p8

networks:
  internal:
    external: true
