image:
    tag: {{ env "APP_VERSION" | default "latest" }}
replicas: 1
secrets:
    PGSQL_USER: "coin"
    PGSQL_PASSWORD: "{{ .Values.pgsql.users.coin.password }}"
    PGSQL_DATABASE: "coin"
    AUTH_TOKEN_SIGNING_KEY: "{{ .Values.coin_server.auth.key }}"
    SHA_SALT: "{{ .Values.coin_server.auth.salt }}"
    TG_BOT_TOKEN: "{{ .Values.coin_server.telegram_bot.token }}"
    TG_CHAT_ID: "{{ .Values.coin_server.telegram_bot.chat_id }}"
    API_KEY_CURRENCY_PROVIDER: "{{ .Values.coin_server.api_key_currency_provider }}"
    NOTIFICATIONS_APNS_TEAM_ID: "{{ .Values.coin_server.apns.team_id }}"
    NOTIFICATIONS_APNS_KEY_ID: "{{ .Values.coin_server.apns.key_id }}"
listen:
    port: 8080
