image:
    repository: ghcr.io/finfix/go-server

host: "k8s.bonavii.com"

tg_bot:
    enabled: true
otlp:
    enabled: false
log:
    level: info
pgsql:
    endpoint: "postgres-postgresql.postgres-prod.svc.cluster.local:5432"
