image:
    repository: ghcr.io/finfix/go-server-dev

host: "api.dev.bonavii.com"

tg_bot:
    enabled: false
otlp:
    enabled: false
log:
    level: debug
pgsql:
    endpoint: "postgres-postgresql.postgres-dev.svc.cluster.local:5432"
