---
- name: Copy pgsql-dev files to the server
  template:
    src: "{{ item.src }}"
    dest: "{{ project_dir }}/{{ item.dest }}"
  loop:
    - { src: docker-compose.pgsql-dev.yml, dest: docker-compose.pgsql-dev.yml }

- name: Pull new version of pgsql-dev image
  command: docker compose -f {{ project_dir }}/docker-compose.pgsql-dev.yml pull
  args:
    chdir: "{{ project_dir }}"

- name: Down pgsql-dev
  command: docker compose -f {{ project_dir }}/docker-compose.pgsql-dev.yml down
  args:
    chdir: "{{ project_dir }}"

- name: Run pgsql-dev
  command: docker compose -f {{ project_dir }}/docker-compose.pgsql-dev.yml up -d
  args:
    chdir: "{{ project_dir }}"
  environment:
    POSTGRES_PASSWORD: "{{ postgres_password_dev }}"
    POSTGRES_USER: "{{ postgres_user }}"
    POSTGRES_DB: "{{ postgres_db }}"
